body{
    font-family:PolySans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
/* color: red; */
}
.gap-x{
    padding: 0 50px;
}
.header-wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background: white;
}
.header{
    display: flex;
    
    align-items: center;
    
    /* width: 100%; */
    background: white;
}

.navbar{
     
    position: absolute; 
    background-color: white; 
    top: 0; 
    left: 0; 
    right: -0;
    padding: 18px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.ml-auto{
    margin-right: 60px;
}
.logo{
    margin-left: 120px;
}
.nav {
    background-color: white;
    justify-content: space-between;
}

.hamburger {
    position: relative;
    height: 24px;
    width: 24px;

}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    height: 4px;
    width: 24px;
    background-color: #000;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.logo img{
    width: 130px;
}

.block-2{
    /* position: absolute; */
    width: 100%;
    /* height: 100vh; */
    background: white;
    display: flex;
    padding-top: 90px;
    margin-bottom: -550px;
}

.b2-h1{
    color: #0c1825;
    font-weight: 700;
    margin: 0;
    opacity: 1;
    line-height: 70px;
    font-size: 52px;
    letter-spacing: -1.5px;
    font-family: 'GT Eesti', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.block-2-main{
   
    justify-content:center;
    align-items: center;
    height: 100%;
}

.block-2-p{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
.form1{
    text-decoration: none; 
    
    background-color: #020218; 
    border: 0.5px solid black; 
    border-radius: 10px; 
    padding: 10px;
    width: 49%;
}
.form1 a{
    color: white;
    text-align:end;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.download-app {
    margin-top: 50px;
}

.btn {
    border: 1px solid #ddd;
    border-radius: 12px;
    color: #0c1825;
    padding: 14.5px 16px;
}
.btn a {
    text-decoration: none;
    color: #020218;
}

.btn-iphone {
    margin-right: 12px;
}

.block-2-img{
    position: relative;
    top: -400px;
    margin-left: 220px;
}
.block-2-text{
    margin-top:150px;
    margin-left: 110px;
}
.img-1{
    position: relative;
    margin-top: 0;
    
    transform: translate(0px, 0px); 
    opacity: 1;
    height: 465px; 
}
.img-2{
    position: absolute;
    left: 0;
    border: 1px;
    opacity: 1;
    max-width: 362px;
    border-radius: 16px;
    height: 400px; 
    top: 32px; 
    left: -12%;
}
.img-3{
    position: absolute;
    left: 0;
    border: 1px;
    opacity: 1;
    max-width: 162px;
    border-radius: 16px;
    height: 90px; 
    top: 105px; 
    left: -38%;
}
.img-4{
    position: absolute;
    left: 0;
    border: 1px;
    opacity: 1;
    max-width: 162px;
    border-radius: 16px;
    height: 90px; 
    top: 340px; 
    left: 60%;
}
.b2-circle{
    transform: translate(0px, 0px); 
    opacity: 1;
    position: absolute;
    left: 0;
    top: -20px;
    left: -362px;
}
.b2-cross{
    transform: translate(0px, 0px); 
    opacity: 1;
    position: absolute;
    left: -75px;
    top: -310px;
}
.b2-dot{
    transform: translate(0px, 0px); 
    opacity: 1;
    position: relative;
    left: -53px;
    top: 10px;
}

.form{
    display: flex;
}
.form{
    text-decoration: none;
    background-color: #020218;
    color: white;
    padding: 10px 20px;
    padding-bottom: 14px;
    border-radius: 10px;
    font-weight: bold;
    z-index: 1;
    padding-right: -50px;
    margin-right: 255px;
    margin-top: 10px;
    padding: 10px 20px;
}
.form a{
    color: white;
    padding-left: 7px;
}

/*block 3 section */
.block-3{
    /* position: absolute; */
    width: 100%;
    /* height: 100vh; */
    background: white
}
.block-3-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 80px;
}
.block-3-img img{
    height: 120px;
    margin-top: 320px;
}
.block-3-text{
    margin-top: 300px;
    margin-left: 35px;
}
.b3-h2{
    text-decoration: none;
    font-weight: bold;
    line-height: 45px;
}
.b3-p{
    font-weight: 450;
    line-height: 25px;
    font-weight: 600;
    padding-top: 5px;
}
.block-3-link a{
    color: #0d60d8;
    font-weight: 500;
    padding-top: 40px;
}

.block4{
    display: flex;
    position: relative;
}
.row{
    justify-content: space-around;
}
.piggy{
    justify-content: end;
    
}
.home{
    box-sizing: border-box;
    opacity: 1;
    position: relative;


    margin-top: 45px!important;
    margin-left: 0px;
    

    border-radius: 20px;
    padding: 30px 20px 50px 30px;
    background-color: #f9f9f9;
    
}
.col1{
    box-sizing: border-box;
    opacity: 1;
    position: relative;
    margin-top: 55px!important;
    margin-right: 0px;
    padding: 30px 10px 30px 30px;
}
.col2{
    margin-right: 23px;
}
.col3{
    margin-right: -80px;
}
.col4{
    margin-right: 40px;
}
.col5{
    margin-right: -70px;
}
.title1{
    font-weight:700;
    color: #0c1825;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.content h2{
    letter-spacing: 2px;
    font-size: 33px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
}
.text1{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
}
.link1{
    text-decoration: none;
    background-color: #020218;
    color: white;
    text-align: center;
    padding-bottom: 14px;
    border-radius: 10px;
    font-weight: bold;
    z-index: 1;
    padding-right: 15px;
    margin-top: 12px;
    padding-left: 10px;
    
}
.text{
    font-family: DM Sans,sans-serif!important;
    color: #353535;
    line-height: 27.2px;
    font-size: 16.5px;
    -webkit-font-smoothing: antialiased;
    margin: 18px 0 40px!important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.title{
    margin-top: 25px!important;
    max-width: 250px;
    color: #0c1825;
    display: block;
    font-size: 1.1em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/*section 5 investment*/
.blocks5{
    display: flex;
    position: relative;
}

.block5{
    justify-content:space-around;
    padding-top: 100px;
    margin-bottom: 60px;
}
.col6{
    margin-top: 50px;
    margin-left: 195px;
    
}
.img5{
    width: 60%!important;
    height: auto!important;
    position: relative;
}
.circle{
    margin-top: 105px;
    position: absolute;
    margin-left: -150px;
    padding: 25px;
    z-index: -1;
    max-width: 250px;
}
.dot{
    margin-top: -305px;
    padding: 3px;
    position: relative;
}
.col7{
    margin-top: 90px;
    margin-left: -100px;
    
}
.tag{
    background-color: #f7f0ff;
    margin-bottom: 30px;
    color: #7913e5;
    text-align: center;
    display: inline-block;
    padding: 6px 22px;
    border-radius: 40px;
    font-weight: 700!important;
}
.title5{
    font-size: 60px;
    line-height: 50.1px;
    font-family: U8-Bold!important;
    font-weight: bold;
    color: #0c1825;
}
.text5{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link-b5{
    color: #7913e5;
    font-weight: 500;
    letter-spacing: 0.05px;
    
}
/* savers section */

.block6{
    display: flex;
    padding-top: 120px;
    margin-bottom: 90px;
}
.block-6{
    position: absolute;
    
}
.col8{
   background-color: #0d60d8;
   width: auto;
   position: relative;
   padding: 60px;
   
}
.content6{
    
    width: 100%;
    padding-left: 65px;
    padding-right: 215px;
    color: white;
    padding-bottom: 5px;
}
.col9{
    background-image:url(block6-img.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position: relative;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.link6{
    color: white;
    font-weight: 500;
}

.title6{
    font-size: 45px;
    line-height: 50px;
    font-family: U8-Bold!important;
    display: block;
    font-size: 2.5em;
    font-weight: 800;
}
.text6{
    font-family: DM Sans, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
    line-height: 22.2px;
    font-weight:lighter;
    padding-bottom: 25px;
    
}

/* Testimonial Section */
.block-7 {
    margin-bottom: 60px;
  }
  
  .marquee1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .marquee{
    width: 50%;
    margin-top: 420px;
    padding: 0px 10px;
    
  }
  .block-7-row{
    margin-right: 125px;
  }
  
  .marquee-p{
   width: 65%;
   margin-bottom:20px;
    font-size: 2.25rem;
    letter-spacing: -0.3px;
    color: #111;
  }
  .marquee-p{
    width: 77%;
    margin-bottom: 40px;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  /* Scrolling Testimonial */
  .marquee {
      width: 40vw;
      height: 55vh;
      background-color: #fff;
      color: #353535;
      overflow: hidden;
      position: relative;
  }
  
  .marquee:before, .marquee:after {
    position: absolute;
    width: 70vh;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    background: linear-gradient(#fff 5%, transparent 20%);
  }
  .marquee:after {
    background: linear-gradient( #fff 5%, transparent 20%);
  }
  .marquee-content{
    display: block;
    animation: scrolling 32s linear infinite;
  }
  @keyframes scrolling {
    0% {transform: translateY(0px);}
    100% {transform: translateY(-855px);}
  }
  .boxs{
    width: 400px;
    height: auto;
    background-color: rgb(243, 243, 243);
    margin: 10px 0;
    padding: -10px;
    border-radius: 8px;
    margin-left: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 10px;
    
  }
  .boxs h5 {
    font-size: 0.875rem;
    padding: 8px 0;
    
  }
    .boxs p {
      font-size: 0.675rem;
      letter-spacing: 0.5px;
      line-height: 1.4;
      margin-top: -10px;
      font-family: DM Sans,sans-serif!important;
    }
    .boxs span {
      font-size: 0.65rem;
      margin-left: 170px;
    }
    .boxs img{
        border-radius: 50px;
        object-fit: cover;
        margin: 5px 15px 0 0;
        height: 28px;
    }
    .check{
        display: flex;
        padding-right: -40px;
    }

    
    .account{
        text-align: center;
    }
    .download-app {
        margin-top: 20px;
    }
    .iphone{
        border: 1px solid #ddd; 
        border-radius: 10px;
        background-color: white;
        display: inline-block;
        padding: 7px 16px!important;
    }
    .Android{
        border: 1px solid #ddd; 
        border-radius: 10px;
        background-color: white;
        display: inline-block;
        padding: 7px 16px!important;
    }
    .iphone a{
        color: #020218;
        font-family: DM Sans,sans-serif!important;
        font-size: 12.82px;
        font-weight: 700;
    }
    .Android a{
        color:#020218;
        font-family: DM Sans,sans-serif!important;
        font-size: 12.82px;
        font-weight: 700;
    }
    .download-app img{
      width: 20px;
    }
    .right{
      margin-top: 500px;
      left: -55px;
    }
    .head-7{
      font-family: DM Sans,sans-serif!important;
    }
    .head-7 h2{
      font-weight: 700;
      font-size: 33px;
      line-height: 42.21px;
    }
    .p-7{
        line-height: 27.21px;
    }

/* Featured section*/
.blocks-8{
    background: #f9f9f9;
    position: absolute;
    padding: 55px;
    
}
.b8-img{
    position: relative;
    padding-left: 65px;
}
.b8-img img{
    width: 150px;
    margin: 0 25px;
}
.block8{
    display: flex;
    padding-left: 15px;
    justify-content: center;
}
.b8-text{
    font-size: 32px;
    line-height: 41.21px;
    font-family: U8-Bold!important;
    font-weight: 550;
    color: #0c1825;
}

/*social section styling*/

.block9-cont{
    display: flex;
    padding-top: 280px;
}
.block9-row{
    position: absolute;
    display: flex;
    justify-content: space-around;
}
.img-b9{
    
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.product-b9{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 0.9em;
}
.company-b9{
    
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 0.8em;
}
.legal-b9{
    
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 0.8em;
}
.socials-b9{
    
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    
}

.check-9{
    display: flex;
    justify-content: end;
}
.check10 p{
    display: flex;
    justify-content: end;
}
.check11{
    text-align: end;
    color: #0c1825;
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: 450;
    font-size:1em;

}
.head-9{
    font-weight: 550;
    font-family: U8-Bold!important;
    margin-bottom: 20px;
    color: #0c1825;
    font-size:1.2em;
    

}
.text-9{
    
    font-family: sans-serif;
    color: #0c1825;
    font-weight: 450;
    font-size:1em;
    letter-spacing: 0.06em;
    
    
}
.fa {
    font-size: 15px;
    font-weight: 540;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    }
.fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #0f0d0d;
    color: white;
    
    }
.fa-twitter {
    background: #0f0c0c;
    color: white;
    }

.fa-instagram {
    background: #1f1e1e;
    color: white;
    }

    /* Footer*/

.footer{
    padding-top: 255px;
}
.b10-text{
    color: black;
    text-align: center;
    margin-bottom: 25px;
    font-size: 0.85em;
    font-weight: 400;
}
.link-10{
    text-align: center;
    color: #083e9e;
    font-size: 0.9em;
    padding-top: 10px;
    padding-bottom: 50px;
}


