body{
    background-color: rgb(238, 42, 42);
}
.container{
    display: flex;
}

.row{
    justify-content:space-around;
}
.col6{
    margin-top: 50px;
    margin-left: 205px;
}
.img5{
    width: 60%!important;
    height: auto!important;
    position: relative;
}
.circle{
    margin-top: 105px;
    position: absolute;
    margin-left: -150px;
    padding: 25px;
}
.dot{
    margin-top: -305px;
    padding: 3px;
}
.col7{
    margin-top: 90px;
    margin-left: -110px;
}
.tag{
    background-color: #f7f0ff;
    margin-bottom: 30px;
    color: #7913e5;
    text-align: center;
    display: inline-block;
    padding: 6px 22px;
    border-radius: 40px;
    font-weight: 700!important;
}
.title5{
    font-size: 43px;
    line-height: 50.1px;
    font-family: U8-Bold!important;
    font-weight: 600;
    color: #0c1825;
}
.text5{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link-b5{
    color: #7913e5;
    font-weight: 400;
    letter-spacing: 0.05px;
    
}